@model RollNRunWeb.Models.ProductoViewModel

@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Detalles</h2>

<div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <table>
                    <tr>
                        <td style="width:300px; padding-right:20px">
                            <img class="img-responsive" src="@Html.DisplayFor(model => model.imagen)" />
                        </td>

                        <td style="width: 500px; text-align:left">
                            <h2>
                                <b>@Html.DisplayFor(model => model.nombre)</b>
                                <h3>Valoración: @Html.DisplayFor(model => model.valMedia)</h3>
                            </h2>
                            <br>
                            <h3><b>Marca: </b> @Html.DisplayFor(model => model.marca)</h3>
                            <h3><b>Descripcion: </b> @Html.DisplayFor(model => model.descripcion)</h3>

                            @if (Model.oferta > 0)
                            {
                                <h3><del>@Html.DisplayFor(model => model.precio)</del></h3>
                            }

                            else
                            {
                                <h3><b>@Html.DisplayFor(model => model.precio)</b></h3>
                            }

                            <input type="number" style="height:25px; width:40px" name="cantidad" id="cantidad">
                            <button type="button" style="margin-left: 15px">@Html.ActionLink("Añadir a la Cesta", "Index", "Pedido")</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<p>
    <button type="button">@Html.ActionLink("Vuelve a Página de inicio", "Index", "Home")</button>
</p>