@model RollNRunWeb.Models.DireccionViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Dirección</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
